<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Tool.Monitor Rules" ToolsVersion="12.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1704" Action="None" />
    <Rule Id="CA1709" Action="None" />
    <Rule Id="CA1726" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1824" Action="None" />
    <Rule Id="CA2210" Action="None" />
  </Rules>
</RuleSet>