<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <log4net xdt:Transform="Replace">
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date [%thread] %-5level (%type.%method:%line) - %message%n" />
      </layout>
    </appender>
    <root>
      <priority value="DEBUG" />
      <appender-ref ref="TraceAppender" />
    </root>
    <logger name="Quartz" additivity="false">
      <level value="WARN" />
      <appender-ref ref="TraceAppender" />
    </logger>
  </log4net>

</configuration>
