<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta http-equiv="refresh" content="300" />
<meta http-equiv="refresh" content="300" />
<title>監視ツール</title>
</head>
<body>
<table>
<tbody>
<tr>
<td>
<img src="@(Model.Id)-day.png" alt="day graph" />
</td>
<td>
<img src="@(Model.Id)-week.png" alt="week graph" />
</td>
</tr>
<tr>
<td>
<img src="@(Model.Id)-month.png" alt="month graph" />
</td>
<td>
<img src="@(Model.Id)-year.png" alt="year graph" />
</td>
</tr>
</tbody>
</table>    
</body>
</html>
