<Settings>

  <!-- ====================================================================== -->
  <!-- RRDtool                                                                -->
  <!-- ====================================================================== -->
    
  <RRDtool>
    <ExePath>rrdtool\rrdtool.exe</ExePath>
    <DataDir>..\Data</DataDir>
    <OutputDir>..\Web</OutputDir>
    <Colors>
      <Color>#00a65a</Color>
      <Color>#0073b7</Color>
      <Color>#f56954</Color>
      <Color>#f39c12</Color>
      <Color>#932ab6</Color>
      <Color>#00c0ef</Color>
      <Color>#01ff70</Color>
      <Color>#f012be</Color>
      <Color>#85144b</Color>
    </Colors>
  </RRDtool>

  <!-- ====================================================================== -->
  <!-- Template                                                               -->
  <!-- ====================================================================== -->
  
  <Template>
    <ListTemplate>default.tmpl</ListTemplate>
    <DetailTemplate>detail.tmpl</DetailTemplate>
    <ListFileName>default.htm</ListFileName>
    <DetailFileName>{0}.htm</DetailFileName>
    <OutputDir>..\Web</OutputDir>
  </Template>

  <!-- ====================================================================== -->
  <!-- ValueProviderFactory                                                   -->
  <!-- ====================================================================== -->
  
  <ValueProviderFactory>
    <Type>System</Type>
    <Factory>Tool.Monitor.Providers.Basic.SystemValueProviderFactory, Tool.Monitor.Providers.Basic</Factory>
  </ValueProviderFactory>
  <ValueProviderFactory>
    <Type>PerformanceCounter</Type>
    <Factory>Tool.Monitor.Providers.Basic.PerformanceCounterValueProviderFactory, Tool.Monitor.Providers.Basic</Factory>
  </ValueProviderFactory>
  <!--
  <ValueProviderFactory>
    <Type>Hardware</Type>
    <Factory>Tool.Monitor.Providers.Hardware.HardwareValueProviderFactory, Tool.Monitor.Providers.Hardware</Factory>
  </ValueProviderFactory>
  -->
  <!--
  <ValueProviderFactory>
    <Type>Redis</Type>
    <Factory>Tool.Monitor.Providers.Redis.RedisValueProviderFactory, Tool.Monitor.Providers.Redis</Factory>
    <Parameter>
      <Client>redis-cli.exe</Client>
      <Option>-h 127.0.0.1 -p 6379 info</Option>
    </Parameter>
  </ValueProviderFactory>
  -->

  <!-- ====================================================================== -->
  <!-- ValueProvider                                                          -->
  <!-- ====================================================================== -->
  
  <Collector>
    <Id>system_cpu</Id>
    <Category>System</Category>
    <ValueProvider>
      <Type>PerformanceCounter</Type>
      <Parameter>
        <Category>Processor</Category>
        <Counter>% Processor Time</Counter>
        <Instance>_Total</Instance>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>CPU Usage</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-l 0 -u 100</Option>
      <Colors>
        <Color>#01ff70</Color>
      </Colors>
    </GraphOption>
  </Collector>

  <Collector>
    <Id>system_mem</Id>
    <Category>System</Category>
    <ValueProvider>
      <Type>PerformanceCounter</Type>
      <Parameter>
        <Category>Memory</Category>
        <Counter>% Committed Bytes In Use</Counter>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>Memory Usage</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>AREA</Draw>
      <Option>-l 0 -u 100</Option>
      <Colors>
        <Color>#ff851b</Color>
      </Colors>
    </GraphOption>
  </Collector>

  <Collector>
    <Id>system_disk</Id>
    <Category>System</Category>
    <ValueProvider>
      <Type>System</Type>
      <Parameter>
        <Type>Disk</Type>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>Disk Usage</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-l 0 -u 100</Option>
    </GraphOption>
  </Collector>

  <Collector>
    <Id>system_process</Id>
    <Category>System</Category>
    <ValueProvider>
      <Type>System</Type>
      <Parameter>
        <Type>Process</Type>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>Number of Processes</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1000 -l 0</Option>
    </GraphOption>
  </Collector>

  <Collector>
    <Id>system_uptime</Id>
    <Category>System</Category>
    <ValueProvider>
      <Type>PerformanceCounter</Type>
      <Parameter>
        <Category>System</Category>
        <Counter>System Up Time</Counter>
        <Multiply>1.1574074074074073e-005</Multiply>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>Uptime</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>AREA</Draw>
      <Option>-b 1000 -l 0</Option>
      <Colors>
        <Color>#39cccc</Color>
      </Colors>
    </GraphOption>
  </Collector>

  <!-- ====================================================================== -->
  <!-- ValueProvider.Hardware                                                 -->
  <!-- ====================================================================== -->
  
  <!--
  <Collector>
    <Id>hardware_cpu_clock</Id>
    <Category>Hardware</Category>
    <ValueProvider>
      <Type>Hardware</Type>
      <Parameter>
        <Key>/intelcpu/0/clock/1</Key>
        <Key>/intelcpu/0/clock/2</Key>
        <Key>/intelcpu/0/clock/3</Key>
        <Key>/intelcpu/0/clock/4</Key>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>CPU Clock</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1000 -l 0</Option>
      <Labels>
        <Label>Core 1</Label>
        <Label>Core 2</Label>
        <Label>Core 3</Label>
        <Label>Core 4</Label>
      </Labels>
    </GraphOption>
  </Collector>

  <Collector>
    <Id>hardware_cpu_temperature</Id>
    <Category>Hardware</Category>
    <ValueProvider>
      <Type>Hardware</Type>
      <Parameter>
        <Key>/intelcpu/0/temperature/0</Key>
        <Key>/intelcpu/0/temperature/1</Key>
        <Key>/intelcpu/0/temperature/2</Key>
        <Key>/intelcpu/0/temperature/3</Key>
        <Key>/intelcpu/0/temperature/4</Key>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>CPU Temperature</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1000 -l 0</Option>
      <Labels>
        <Label>Core 1</Label>
        <Label>Core 2</Label>
        <Label>Core 3</Label>
        <Label>Core 4</Label>
        <Label>Package</Label>
      </Labels>
    </GraphOption>
  </Collector>
    
  <Collector>
    <Id>hardware_temperature</Id>
    <Category>Hardware</Category>
    <ValueProvider>
      <Type>Hardware</Type>
      <Parameter>
        <Key>/atigpu/0/temperature/0</Key>
        <Key>/lpc/nct6791d/temperature/1</Key>
        <Key>/lpc/nct6791d/temperature/2</Key>
        <Key>/lpc/nct6791d/temperature/3</Key>
        <Key>/lpc/nct6791d/temperature/5</Key>
        <Key>/lpc/nct6791d/temperature/6</Key>
        <Key>/lpc/it8772e/temperature/0</Key>
        <Key>/lpc/it8772e/temperature/1</Key>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>Temperature</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1000 -l 0</Option>
      <Labels>
        <Label>GPU</Label>
        <Label>#1</Label>
        <Label>#2</Label>
        <Label>#3</Label>
        <Label>#5</Label>
        <Label>#6</Label>
      </Labels>
    </GraphOption>
  </Collector>
    
  <Collector>
    <Id>hardware_fan</Id>
    <Category>Hardware</Category>
    <ValueProvider>
      <Type>Hardware</Type>
      <Parameter>
        <Key>/atigpu/0/fan/0</Key>
        <Key>/lpc/nct6791d/fan/0</Key>
        <Key>/lpc/nct6791d/fan/1</Key>
        <Key>/lpc/nct6791d/fan/2</Key>
        <Key>/lpc/nct6791d/fan/3</Key>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>FAN</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1000 -l 0</Option>
      <Labels>
        <Label>GPU</Label>
        <Label>#1</Label>
        <Label>#2</Label>
        <Label>#3</Label>
        <Label>#4</Label>
      </Labels>
    </GraphOption>
  </Collector>

  <Collector>
    <Id>hardware_power</Id>
    <Category>Hardware</Category>
    <ValueProvider>
      <Type>Hardware</Type>
      <Parameter>
        <Key>/intelcpu/0/power/0</Key>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>Power</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1000 -l 0</Option>
      <Labels>
        <Label>CPU</Label>
      </Labels>
    </GraphOption>
  </Collector>

  <Collector>
    <Id>hardware_ssd_data</Id>
    <Category>Hardware</Category>
    <ValueProvider>
      <Type>Hardware</Type>
      <Parameter>
        <Key>/hdd/0/data/0</Key>
        <Key>/hdd/0/data/1</Key>
        <Key>/hdd/1/data/0</Key>
        <Key>/hdd/1/data/1</Key>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>Read/Write</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1000 -l 0</Option>
      <Labels>
        <Label>SSD1 Write</Label>
        <Label>SSD1 Read</Label>
        <Label>SSD2 Write</Label>
        <Label>SSD2 Read</Label>
      </Labels>
    </GraphOption>
  </Collector>

  <Collector>
    <Id>hardware_hdd_temperature</Id>
    <Category>Hardware</Category>
    <ValueProvider>
      <Type>Hardware</Type>
      <Parameter>
        <Key>/hdd/2/temperature/0</Key>
        <Key>/hdd/3/temperature/0</Key>
        <Key>/hdd/4/temperature/0</Key>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>HDD Temperature</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1000 -l 0</Option>
      <Labels>
        <Label>HDD1</Label>
        <Label>HDD2</Label>
        <Label>HDD3</Label>
      </Labels>
    </GraphOption>
  </Collector>
  -->

  <!-- ====================================================================== -->
  <!-- ValueProvider.Web                                                      -->
  <!-- ====================================================================== -->
  
  <!--
  <Collector>
    <Id>web_connections</Id>
    <Category>Web</Category>
    <ValueProvider>
      <Type>PerformanceCounter</Type>
      <Parameter>
        <Category>Web Service</Category>
        <Counter>Current Connections</Counter>
        <Instance>_Total</Instance>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>Current Connections</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1000 -l 0</Option>
      <Colors>
        <Color>#f012be</Color>
      </Colors>
    </GraphOption>
  </Collector>
  -->

  <!-- ====================================================================== -->
  <!-- ValueProvider.SQL                                                      -->
  <!-- ====================================================================== -->

  <!--
  <Collector>
    <Id>sql_use_rconnections</Id>
    <Category>SQL</Category>
    <ValueProvider>
      <Type>PerformanceCounter</Type>
      <Parameter>
        <Category>SQLServer:General Statistics</Category>
        <Counter>User Connections</Counter>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>User Connections</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1000 -l 0</Option>
      <Colors>
        <Color>#00c0ef</Color>
      </Colors>
    </GraphOption>
  </Collector>

  <Collector>
    <Id>sql_transactions</Id>
    <Category>SQL</Category>
    <ValueProvider>
      <Type>PerformanceCounter</Type>
      <Parameter>
        <Category>SQLServer:Transactions</Category>
        <Counter>Transactions</Counter>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>Transactions</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1000 -l 0</Option>
      <Colors>
        <Color>#00c0ef</Color>
      </Colors>
    </GraphOption>
  </Collector>

  <Collector>
    <Id>sql_buffer_cachehit_raito</Id>
    <Category>SQL</Category>
    <ValueProvider>
      <Type>PerformanceCounter</Type>
      <Parameter>
        <Category>SQLServer:Buffer Manager</Category>
        <Counter>Buffer cache hit ratio</Counter>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>Buffer cache hit ratio</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1000 -l 0</Option>
      <Colors>
        <Color>#00c0ef</Color>
      </Colors>
    </GraphOption>
  </Collector>
  -->

  <!-- ====================================================================== -->
  <!-- ValueProvider.Redis                                                    -->
  <!-- ====================================================================== -->

  <!--
  <Collector>
    <Id>redis_memory</Id>
    <Category>Redis</Category>
    <ValueProvider>
      <Type>Redis</Type>
      <Parameter>
        <Key>used_memory</Key>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>Used Memory</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1024 -l 0</Option>
      <Labels>
        <Label>connected</Label>
      </Labels>
      <Colors>
        <Color>#f56954</Color>
      </Colors>
    </GraphOption>
  </Collector>

  <Collector>
    <Id>redis_connected_clients</Id>
    <Category>Redis</Category>
    <ValueProvider>
      <Type>Redis</Type>
      <Parameter>
        <Key>connected_clients</Key>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>Connected clients</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1000 -l 0</Option>
      <Labels>
        <Label>connected</Label>
      </Labels>
      <Colors>
        <Color>#f56954</Color>
      </Colors>
    </GraphOption>
  </Collector>

  <Collector>
    <Id>redis_blocked_clients</Id>
    <Category>Redis</Category>
    <ValueProvider>
      <Type>Redis</Type>
      <Parameter>
        <Key>blocked_clients</Key>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>Blocked clients</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1000 -l 0</Option>
      <Labels>
        <Label>blocked</Label>
      </Labels>
      <Colors>
        <Color>#f56954</Color>
      </Colors>
    </GraphOption>
  </Collector>

  <Collector>
    <Id>redis_fragmentation</Id>
    <Category>Redis</Category>
    <ValueProvider>
      <Type>Redis</Type>
      <Parameter>
        <Key>mem_fragmentation_ratio</Key>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>Fragmentation ratio</Title>
      <SourceType>GAUGE</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1000 -l 0</Option>
      <Labels>
        <Label>fragment</Label>
      </Labels>
      <Colors>
        <Color>#f56954</Color>
      </Colors>
    </GraphOption>
  </Collector>

  <Collector>
    <Id>redis_expired_keys</Id>
    <Category>Redis</Category>
    <ValueProvider>
      <Type>Redis</Type>
      <Parameter>
        <Key>expired_keys</Key>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>Expired keys</Title>
      <SourceType>COUNTER</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1000 -l 0</Option>
      <Labels>
        <Label>expired</Label>
      </Labels>
      <Colors>
        <Color>#f56954</Color>
      </Colors>
    </GraphOption>
  </Collector>

  <Collector>
    <Id>redis_commands</Id>
    <Category>Redis</Category>
    <ValueProvider>
      <Type>Redis</Type>
      <Parameter>
        <Key>total_commands_processed</Key>
        <Key>keyspace_hits</Key>
        <Key>keyspace_misses</Key>
      </Parameter>
    </ValueProvider>
    <GraphOption>
      <Title>Commands hits misses</Title>
      <SourceType>COUNTER</SourceType>
      <Draw>LINE1</Draw>
      <Option>-b 1000 -l 0</Option>
      <Labels>
        <Label>commands</Label>
        <Label>hits</Label>
        <Label>misses</Label>
      </Labels>
    </GraphOption>
  </Collector>
  -->

</Settings>
